html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.h1padding{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pmarginY{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.banner {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Alertpage{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.createChannelPage{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.editChannelPage{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.profilePage{
    display: none;
}

.editProfilePage{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.Startpage {
    display: block;
}

.Homepage {
    display: none;
    height: 93vh;
}

.popupWindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid #cccccc;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    padding: 20px;
    z-index: 2;
}

.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Register{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ChannelList{
    width: 30%;
    max-width: 275px;
    background-color: #f2f3f5;
}

.ContentArea{
    flex-grow: 1;
    min-width: 70%;
    background-color: #ffffff;
    border-left: 4px solid #ccc;
    overflow-y: scroll;
}


.roundedInput {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    height:20px;
    width: 200px;
    font-size: 1.19em;
}

.roundedButton{
    border: 1px solid #4752c4;
    border-radius: 10px;
    padding: 20px;
    height:20px;
    width: 240px;
    text-align: center;
    line-height: 0%;
    font-size: 1.2em;
    background-color: #4752c4;
    color: #fafafa;    
}

.roundedSelect{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1em; 
}

.footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channelHeader {
    height: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.ChannelContainer {
    height: 87% ;
    overflow:hidden;
    border-bottom: 1px solid #ccc;
}

.ChannelBottomSideBar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 6% ;
    padding: 0 5%;
    overflow: hidden;
}

.channelHeaderText{
    font-size: 1.5em;
}

.userNameText{
    font-size: 1.2em;
}

.ChannelUl {
    padding: 0;
    margin: 0;
}

.channelName {
    padding: 10px;
    height: 20%;
    border-bottom: 1px solid #ddd;
    border-radius: 11px;
    transition: transform 0.3s;
    list-style-type: none;
    background-color: #f2f3f5;
}

.channelDescription {
    padding: 10px;
    height: 20%;
    border-bottom: 1px solid #ddd;
    border-radius: 11px;
    transition: transform 0.3s;
    list-style-type: none;
    background-color: #ffffff;
    overflow-wrap: break-word;
}

.symbolButtonAdd {
    font-size: 2em;
    font-weight: 700;
    border: 0;
}

.symbolButtonX {
    font-size: 2em;
    font-weight: 700;
    border: 0;
    background-color: #fafafa;
    float: right;
    line-height: 50%;
}

.imgButtonX {
    border: 0;
    float: right;
    line-height: 50%;
}